.bundle
.DS_Store
db/*.sqlite3
log/*.log
log/*.log.*
log/*.lck
tmp/
.sass-cache/
/.idea
/config/database.yml
/coverage
/*.html
/public/assets
/public/uploads
/public/rspec-uploads
/public/dev-uploads
/public/sitemap.xml.gz
/spec/javascripts/fixtures
/spec/fixtures/*.yml
config/database.yml.mysql
config/database.yml.pgsql
